:root {
    --light-grey: #808080;
    --dark-grey: #303030;
    --bleak-grey: #ededed;
    --bar-grey: #878787;
    --line-grey: #cececd;
    --subhearder-grey: #a3a3a2;
    --sublink-grey: #a8a5ce;
}


* {
    /* all: unset; */
    font-family: 'Noto Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 11.5px;
    /* color: var(--blue); */
}

html {
    background-color: var(--dark-grey);
    padding: max(calc(50vh - 29.7cm / 2), 2rem) 2rem;
    /* needs this to make vertical margin colission work */
}

body {
    background-color: white;
    width: 21cm;
    margin: 0 auto;    
    /* to make it clip bottom and not make black bar at top */
}

body > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 1rem 1rem;
    height: calc(100% - 2rem);
    box-sizing: border-box;
    margin: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-block: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    font-size: 3rem;
    /* line-height: 2rem; */
    font-weight: 700;
    color: rgb(0, 255, 157);
}

h2 {
    color: var(--subhearder-grey);
    font-weight: 300;
    font-size: 1.5rem;
}

h2, h3 {
    padding-bottom: 0.5rem;
    border-bottom: var(--line-grey) solid 1px;
    margin-bottom: 1rem;
}

h3, h4 {
    font-weight: 700;
    /* letter-spacing: 1px; */
}

h5 {
    font-size: 11px;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: normal;
    font-weight: bold;
    text-transform: none;
}

p {
    margin-block: 0;
    margin-bottom: 0.5rem;
}

a, a:visited, a:hover {
    color: unset;
}


/* CLASSES */

.subgrid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0.9rem 0;
}

/* TITLE BOX */

.title-box {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    align-self: end;
    margin: 1rem 0 2rem;
 
}

.title-subgrid {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

/* SKILLS BOX */

.skills-box {
    grid-row: 4 / 4;
    grid-column: 1 / 1;
    background-color: var(--bleak-grey);
    outline: var(--bleak-grey) solid calc(1rem + 1px);
    display: grid;
    grid-template-rows: auto 1fr;
    /* margin: 3rem 1rem 0 0; */
    margin-right: 1rem;
}

.skills-subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 1rem;
    justify-content: stretch;
    align-content: stretch;
}

.skills-subgrid > div {
    display: grid;
}

.skills-subgrid-barbox > div,
.skills-subgrid-textbox> div {
    margin: 0.5rem 0;
}

.skills-subgrid-barbox > div > div {
    background-color: white;
    width: 100%;
    height: 0.5rem;
}

.skills-subgrid-barbox > div > div > div {
    width: 100%;
    height: 100%;
    background-color: var(--bar-grey);
}

/* SIDE BOX */

/* .side-box{
    grid-row: 2 / -1; 
    grid-column: 2 / 2;

    display: grid;
    grid-auto-rows: auto 1fr;
    gap: 1rem 0;
} */


.side-box a {
    color: var(--sublink-grey);
}

.side-box p {
    margin: 0.5rem 0;
}

/* .side-box > div > div { */
.side-box > div {
    margin-bottom: 1rem;
}


.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 1rem;
}

.innerskill{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

.innerskill b {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.innerskill ul {
    margin: 0;
    padding-left: 1.2rem;
    list-style-type: disc;
}

.innerskill li {
    margin-bottom: 0.3rem;
}


/* FOR PRINTING THE .PDF */

@media print {
    html {
        padding: 0;
    }
}


/* RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
    html {
        padding: 1rem;
    }

    body {
        width: 100%;
        max-width: 100%;
    }

    body > div {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1.5rem;
    }

    .title-box {
        margin: 1rem 0;
    }

    .title-subgrid {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    section[style*="grid-row: 2"],
    section[style*="grid-row: 3"] {
        grid-column: 1 / -1 !important;
        grid-row: auto !important;
    }

    .side-box {
        grid-column: 1 / -1 !important;
        grid-row: auto !important;
    }

    .skills {
        flex-direction: column;
    }

    .innerskill {
        margin: 0.5rem 0;
    }

    .subgrid {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .subgrid b {
        padding-top: 1rem;
    }

    #download-pdf {
        position: fixed !important;
        top: 10px !important;
        right: 10px !important;
        padding: 8px 16px !important;
        font-size: 14px !important;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 10px;
    }

    h1 {
        font-size: 1.8rem;
    }

    #download-pdf {
        padding: 6px 12px !important;
        font-size: 12px !important;
    }
}
